*{
    padding:0px;
    margin:0px;
}
#container div{
    width:600px;
    height:600px;
    border:1px solid black;
    float:left;
    margin:5px;
    position: relative;
    
}
#buttonContainer{
    display: border-box;
}
#template{
    display: none;
    
}
h3{
    padding:10px;
    color:white;
    background-color: #0f5753;
}
p{
    padding:10px;
    text-align: justify;
    
}
img{
    height: 200px;
    width:300px ;
    padding:0px 140px;
}
section{
    position: absolute;
    bottom:5px;
    margin-left: 10px;
}
#creatGame{
    margin:20px 10px;
    width:100px;
    height: 50px;
    padding:3px;
}
input {
    width:500px;
    margin:20px;
    padding:20px;
}
form{
    display:none;
    z-index:1;
    position:fixed;
    top:10px;
    right:10px;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    
}
#sendButton, #cancelButton{
    margin:20px 20px;
    width:80px;
    height: 30px;
    padding:3px;
    
   
}
.editButton, #deleteButton {
    margin:10px 10px;
    width:50px;
    height: 20px;
  
}